:root {
	--best-padding: 0.2em 0.5em;
	--color-main: green;
	--color-main-light:;
	--color-main-text:;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Georgia,serif;
}

header {
	background-color: red;
	padding: 1em 0;
}

header h1,
header p {
	margin: 0;
}



.container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.nav {
	background-color: #ff9b00;
}

.nav ul {
	display: flex;
}

.nav li {
	flex: 1 1 auto;
}

.nav a {
	display: block;
	text-align: center;
	color: white;
	padding: var(--best-padding);
	text-decoration: none;

}

.collapsed,
.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 
}